<!DOCTYPE html>
<html data-ng-app="creativeVideo" lang="es">
<head>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
<meta charset="utf-8" />
<title>Spyphone Celular Espia Movil Espia Flexispy Tracer</title>
<META name="robots" content="index,nofollow">
<META name="description" content="Software para Convertir Moviles y Celulares en Spyphone Celular Espia">
<META name="keywords" content="spyphone, celular espia, tracer, flexispy, spy-phone, pinchar celular, espiar whatsapp, espiar facebok, espiar snapchat, espiar wechat, espiar tinder, espiar line, escuchar audios whatsapp, escuchar audios facebook, espiar video llamadas whatsapp, espiar video llamadas skype, iphone 8 spy, s8 spy, espiar sms, espiar gps, espiar fotos y videos, espiar conversaciones, interceptar movil, movil espia, spyphone gold, spyphone platinum, spyphonereviews, spycatcher, cheating catch, esposo infiel, mujer infiel, como descubrir una infidelidad, pruebas para divorcio, detectives privados.">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
 <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
 <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    <!-- Google font-->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Required Framework-->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />

    <!-- Font Icons-->
    <script src="https://use.fontawesome.com/a8fffc2d3b.js"></script>

    <!-- OWL.css-->
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">

    <!-- Magnific.css-->
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.min.css">

    <!-- jquery.mCustomScrollbar.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.min.css">

    <!--Animate CSS-->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">

    <!-- Style.css-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css" />

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.min.css" />

    <!--angular-backtop.css-->
    <link rel="stylesheet" type="text/css" href="assets/css/angular-backtop.min.css">

    <!--color css-->
    <link rel="stylesheet" type="text/css" href="assets/css/color/color-1.css" id="color"/>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87759222-1', 'auto');
  ga('send', 'pageview');

</script>
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <style type="text/css">
<!--
#Layer1 {
	position:absolute;
	width:728px;
	height:213px;
	z-index:91;
	left: 165px;
	top: 553px;
}
-->
    </style>
</head>
<body data-ng-controller="MyController"  id="bottom" data-spy="scroll" data-target=".navbar" data-offset="50" >

<!--Preloader-->
<div id="btry-loader">
    <div class="btry inner">
        <div class="btry-charge"></div>
    </div>
</div>
<!--Nav Menu Starts-->
<nav class="navbar default">
    <div class="container mob-logo">
        <div class="navbar-header col-sm-2 tablet-logo">
            <button type="button" class="navbar-toggle mob-menu" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="mobile-sidebar">
                <span class="sidebar-btn btn fa-bar-hide" data-action="toggle" data-side="right" >
                    <i class="fa fa-bars"></i>
                </span>
            </div>
            <a href="index-video.html" class="brand-logo">
                <img src="assets/images/logo.png" alt="Spyphone logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="#home" data-du-smooth-scroll data-du-scrollspy>Home</a>
                </li>
                <li>
                    <a href="#magical_feature" data-du-smooth-scroll data-du-scrollspy>Funciones</a>
                </li>
                <li>
                    <a href="#why_us" data-du-smooth-scroll data-du-scrollspy>Como Funciona</a>
                </li>
                <li>
                    <a href="#screenshots" data-du-smooth-scroll data-du-scrollspy>Screenshots</a>
                </li>
                <li>
                    <a href="#testimonials" data-du-smooth-scroll data-du-scrollspy>Testimonios</a>
                </li>

                <li>
                    <a href="#packages" data-du-smooth-scroll data-du-scrollspy>Precios</a>
                </li>
                <li>
                    <a href="#contact" data-du-smooth-scroll data-du-scrollspy>Contactenos</a>
                </li>
               
                
                    </div>
                </li>
            </ul>
  </div>

    </div>
</nav>

<!--Nav Menu Ends-->

<!-- Home Section Starts -->



<header class="video-show" data-video-banner>

    <div class="bg-opacity-layer"></div>


    <div id="header" class="p50" data-banner>
        <div class="container text-center">
            <h1>Spyphone</h1>
            <p class="mt30">
                La Mejor forma de Prevenir <br>
            Sucesos Indeseados </p>
            <div class="row text-center">
                <div class="col-md-7 hidden-xs hidden-sm not-visible " data-when-visible="animateElementIn"  >
                    <img class="img img-responsive" src="assets/images/home_mob.png" alt="Home-Mobile">
                </div>

                <div class="col-md-5">
                    <div class="btn-wrap">
                        <a class="btn default_color available-btn colored-button float-button-light" data-angular-ripple>
                            <i class="fa fa-android"></i>
                            <em> Se Puede Instalar </em>
                            con ROOT Android
                        </a>
                        <a class="btn default_color available-btn colored-button float-button-light" data-angular-ripple>
                            <i class="fa fa-android"></i>
                            <em> Se Puede Instalar </em>
                                sin ROOT Android
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="covervid-wrapper">
        <video data-covervid  autoplay class="covervid-video"  loop muted  >
            <source src="assets/video/iPhone-Scroll.mp4" type="video/mp4">
            <source src="assets/video/iPhone-Scroll.webm" type="video/webm">
        </video>
    </div>
</header>
<!-- Home Section Ends -->
<!-- Magical Features Starts -->
<img src="assets/images/infielespyphone.png" width="417" height="316">
<h1>¿ESTÁ SU PAREJA<br>
  MINTIÉNDOLE?</h1>
<section id="magical_feature">
    <div class="container text-center">
      <h2 class="mb40"><br>
        Spyphone es el Unico Software de Monitoreo que puede Auditar un Dispositivo en su Totalidad.

<span class="bolder"><br><br>
Las Personas ENGAÑAN... La Tecnologia No.</span> </h2>
      <div class="row">
            <h2 class="mb40">Rastree y Controle Absolutamente toda la Actividad de Teléfonos Inteligentes de Manera Remota.<span class="bolder"></span></h2>

  </div>
<!-- Magical Features Ends -->
<!-- Start [Features Description] -->
<section id="feature-desc">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <div class="icon-block mb50 mb_margin30">
                            <span class="icon-color">
                                <i class="fa fa fa-mobile-phone fa-4x"></i>                            </span>
                            <h4>Interceptacion de Llamadas</h4>
                            <h3>&nbsp;</h3>
                    <p>Escuche y grabe llamadas en Vivo mientras suceden. No hay otro Software Espía Celular que sea capaz de hacerlo.Tenga cuidado de no hablar durante la Ilamada pues podrian Escucharlo. </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="icon-block mb50 mb_margin30">
                            <span class="icon-color">
                                <i class="fa fa-whatsapp fa-4x"></i>                            </span>
                            <h4>Monitoreo de Web y Redes Sociales</h4>
                            <h3>&nbsp;</h3>
                    <p>Facebook, WhatsApp, Twitter y toda la actividad de Internet y los servicios de mensajería de Facebook, WhatsAppm, Tinder, Snapchat, Twitter y otros que se utilizan en el teléfono móvil.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="icon-block mb_margin30 ">
                            <span class="icon-color">
                                <i class="fa fa-microphone fa-4x"></i>                            </span>
                    <h4>Sonido Ambiente </h4>
                    <p>Grabe los sonidos del entorno de su teléfono o Escuche a lo que pasa detrás de las puertas cerradas. Preparese para Escuchar lo Inimaginable. ¿Estas Realmente listo Para esto? </p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <div class="icon-block mb_margin30">
                            <span class="icon-color">
                                <i class="fa fa-envelope-o fa-4x"></i>                            </span>
                            <h4>Rastrear SMS / Emails <br>
                    </h4>
                    <p>Lea mensajes SMS &amp; Email para saber aun mas lo que esta sucediendo.Texto del mensaje, número del remitente y del destinatario. Registra el contenido de cada mensaje SMS , MMS y Correo configurado en el Smartphone.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">

                <div class="icon-block mb_margin30">

                            <span class="icon-color">
                                <i class="fa fa-location-arrow fa-4x"></i>
                            </span>
                    <h4>Ubicacion GPS </h4>
                    <p>¿Están realmente donde dicen que están? Determine su Ubicación exacta y Compruébelo. Trabaja con GPS, Celdas GSM y Conexiones Wifi. Arme sus Alertas Perimetrales y cuando su Objetivo se acerque sepalo inmediatamente </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="icon-block mob-icon-block">
                            <span class="icon-color">
                                <i class="fa fa-volume-control-phone fa-4x"></i>
                            </span>
                    <h4>Grabacion de todas las Llamadas GSM/VOIP </h4>
                    <p>Graba todas las Comunicaciones de Voz que se realizan con el Movil / Celular entrantes y salientes incluyendo las notas de voz. Graba tambien el Sonido Ambiente por 5,10, 15, 30 minutos.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End [Features Description] -->

<!-- Start [key-feature] -->

<section id="key-feature">
    <div class="container">
        <div class="row">
            <div class="col-md-12 well-pad3 bg-image2-wrap p0">
                <div class="col-md-5 col-sm-12 bg-image2_cnt mb40 mb_margin0">
                    <h2 class="mb40">Todo lo que necesita para descubrir la verdad esta aqui<span class="bolder"></span></h2>
                    <p class="title-para mb40">Spyphone El Programa mas potente de Supervision de Celulares que el dinero puede comprar.</p>
                    <div class="box mb40">

                        <div class="box_aside">
                            <i class="fa fa-file icon-color"></i>
                        </div>
                        <div class="box_cnt box_cnt__no-flow">

                            <h3>Protege a sus Hijos</h3>

                            <p>¿Han llegado sus hijos a la escuela o a la casa? ¿Dónde están ahora? ¿Quiénes son sus nuevos amigos? Espía en los teléfonos móviles de sus hijos y comprenda su mundo.</p>
                      </div>
                    </div>

                    <div class="box mb40">

                        <div class="box_aside box-aside15">

                            <i class="fa fa-mobile icon-color fa-2x mt-10"></i>
                        </div>
                        <div class="box_cnt box_cnt__no-flow">

                            <h3>EntErate de todo</h3>
                            <p>Monitorea en modo incógnito todas las comunicaciones, las ubicaciones y el comportamiento del usuario de un smartphone desde cualquier navegador con Spyphone – el único espía celular con más de 150 increíbles prestaciones.</p>
                        </div>
                    </div>

                    <div class="box mb40 mb_margin0">

                        <div class="box_aside">
                            <i class="fa fa-file-text-o icon-color"></i>
                        </div>
                        <div class="box_cnt box_cnt__no-flow">

                            <h3>Monitorea a Sus Empleados</h3>

                            <p>El monitoreo de teléfonos celulares se ha vuelto aún más fácil. Vea donde están sus empleados, lo que hacen y lo que dicen. Espíe celulares de su empresa y proteja su propiedad intelectual.</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="iphone-hand hidden-xs hidden-sm not-visible" data-when-visible="animateElementInUp"  >
                        <img class="img img-responsive" src="assets/images/iphone-hand4.png" alt="Iphone-Hand" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End [key-feature] -->

<!-- Start [Video]-->
<section class="video-jarallax text-center" >
    <div class="container">
        <div class="row">
            <h2 class="mb40">EXPLICACION SIMPLE DEL SISTEMA <span class="bolder"> ESPIA</span></h2>
            <p class="mb40 col-md-10 col-md-offset-1">Descubra para que puede Usar Spyphone.</p>
			 <p class="mb40 col-md-10 col-md-offset-1"><i class="fa fa-youtube fa-5x icon-color mb20"></i></p>
            <div class="col-sm-12 video-img-block mb20">
                <img class="img img-responsive" src="assets/images/video-bg.jpg" alt="Video Background" />
                <div class="video-play-icon">
                    <a class="video" title="Video Presentation" href="https://www.youtube.com/embed/z0PcEzQ48Eg">
                        <i class="fa fa-play icon-color"></i>

                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End [Video]-->

<!-- Start [Some Facts]-->

<section id="some_facts">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb40 mb_margin0">Desde el 2005 Lideres del Negocio <span class="bolder">Spyphone</span></h2>
        </div>
        <div class="row text-center circle-block">
            <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s">
                <div id="circle1">
                    <strong>
                        <span class="counter count CounterS" style="display: inline-block;"  data-count-to=47  data-value=0 data-duration="0.5"></span>k
                    </strong>
                </div>
                <h4 class="circle-txt">DISTRIBUIDORES </h4>
                <a href="#"  class=" btn circle-user">
                    <i  data-uib-tooltip="Distribuidores Spyphone" data-tooltip-placement="bottom" class="fa fa-line-chart"></i>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s">
                <div id="circle2"><strong><span class="counter count CounterS"  style="display: inline-block;" data-count-to=100 data-value=0 data-duration="0.5"></span>k</strong></div>
                <h4 class="circle-txt">CLIENTES </h4>
                <a href="#" class="btn circle-user">
                    <i  data-tooltip-placement="bottom" data-uib-tooltip="Clientes Satisfechos" class="fa fa-user"></i>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s">
                <div id="circle3"><strong><span class="counter count CounterS"  style="display: inline-block;" data-count-to-comma=1,100 data-value=0 data-duration="0.5"></span>+</strong></div>
                <h4 class="circle-txt">Descargas</h4>
                <a href="#" class="btn circle-user">
                    <i  data-tooltip-placement="bottom" data-uib-tooltip="Descargas Globales" class="fa fa-cloud-download"></i>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s">
                <div id="circle4"><strong><span class="counter count CounterS"  style="display: inline-block;" data-count-to=8.5 data-value=0 data-duration="0.5"></span></strong></div>
                <h4 class="circle-txt">valoracion APP </h4>
                <a href="#" class="btn circle-user">
                    <i  data-tooltip-placement="bottom" data-uib-tooltip="Rating Spyphone Apps" class="fa fa-star"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- End [Some Facts]-->

<!-- Start [Why_Us]-->

<section id="why_us">
    <div class="container">
        <div class="row valign-wrapper set-wrapper">
            <div class="col-md-6">
                <div class="choose_phone hidden-xs hidden-sm">
                    <img class="img img-responsive phone1" src="assets/images/why_us-1.png" alt="Phone1" />
                    <img class="img img-responsive phone2 not-visible" data-when-visible="animateElementIn"  src="assets/images/why_us-2.png" alt="Phone1"  />
                </div>
            </div>
          <div class="col-md-6 choose_us_txt">
                <h2 class="mb40">¿COMO <span class="bolder">FUNCIONA?</span></h2>
                <p class="mb20">Spyphone es un Programa que se Instala en el Celular Android que deseamos Monitorear, la Instalacion se Realiza de Forma Fisica. No en forma Remota. Es Totalmente Invisible. Tambien le podemos vender el Celular con el Sistema Instalado y Configurado Listo para usar.</p>
                <ul class="mt30 pl0">

                    <li class="amazing-feature-text">
                        <i class="fa  fa-check icon-color"></i>
                        <p align="left">1. Compre Su Licencia Spyphone.</p>
                    </li>

                    <li class="amazing-feature-text">
                        <i class="fa  fa-check icon-color"></i>
                        <p align="left">2. Contactenos para Asistencia Personalizada. </p>
                    </li>

                     <li class="amazing-feature-text">
                        <i class="fa  fa-check icon-color"></i>
                        <p align="left">3. Instale la Aplicacion y Active los Servicios.</p>
                    </li>


                    <li class="amazing-feature-text">
                        <i class="fa fa-check icon-color"></i>
                        <p align="left">4. Entregue el Celular a su Objetivo.</p>
                    </li>

                    <li class="amazing-feature-text">
                        <div align="left"><i class="fa fa-check icon-color"></i></div>
                        <p align="left">5. Escuche, Lea, Mire y Enterese de todo.</p>
                    </li>
                </ul>
				<button type="button" class="btn btn-primary common-btn colored-button float-button-light" data-angular-ripple><i class="fa fa-download mr5 fa-2x"></i> <a href="http://www.spyphonestore.com/manual">MANUAL INSTALACION</a> </button>
           
    </div>
</section>

<!-- End [Why_Us]-->

<!-- Start [Screenshots]-->

<section id="screenshots" class="screenshot">
    <div class="container text-center mb50">
        <h2>SCREENSHOTS DEL  <span class="bolder">PANEL DE CONTROL</span></h2>
    </div>
    <!--Screenshot Phone Background-->
    <div class="container">
        <div class="owl-main-section">
            <div class="ss-phone hidden-xs hidden-sm">
                <img src="assets/images/iphone.png" alt="iphone schreenshot background">
            </div>
        </div>
        <!-- Screenshots -->
        <div data-wrap-owlcarousel class="owl-carousel main-item-list"
             data-options="{loop:true,autoplay: true,items:5,margin:1,dots: false,responsiveClass:true,responsive:{
            0:{
                items:2,
                nav:false,
                dots: false
            },
            400:{
                items:2,
                nav:false
            },
            700:{
                items:4,
                nav:false
            },
            1000:{
                items:5,
                nav:false,
                dots:false,
                loop:true
            },
            1400:{
                items:5,
                margin:1,
                nav:false,
                dots:false,
                loop:true
            }
        }}">
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-1.jpg" alt="Spyphone screenshot1"></div>
            </div>
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-2.jpg" alt="Spyphone screenshot1"></div>
            </div>
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-3.jpg" alt="Spyphone screenshot1"></div>
            </div>
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-4.jpg" alt="Spyphone screenshot1"></div>
            </div>
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-5.jpg" alt="Spyphone screenshot1"></div>
            </div>
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-6.jpg" alt="Spyphone screenshot1"></div>
            </div>
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-7.jpg" alt="Spyphone screenshot1"></div>
            </div>
            <div class="item">
                <div class="thumb"> <img class="" src="assets/images/screenshot/sc-8.jpg" alt="Spyphone screenshot1"></div>
            </div>
        </div>

    </div>
</section>

<!-- End [Screenshots]-->

<!--Start [Testimonials]-->

<section id="testimonials" data-parallax-background class="parallax-img testimonial-jarallax" data-parallax-ratio="0.2" style="background-image: url(assets/images/home-bg2.jpg);">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb40">TESTIMONIOS <span class="bolder">DE CLIENTES  </span></h2>
        </div>
        <div class="testimonials">

            <div data-wrap-owlcarousel class="owl-carousel " data-options="{pagination  :true,loop:true,items:1}">
                <div class="item">
                    <blockquote>
                       Mi marido empezo a comportarse extrano, a preocuparse mas de la cuenta de su imagen, se duchaba, se perfumaba, se cepillaba los dientes 3 veces por dia cuando toda su vida vivio como un puerco... y ahi sospeche y utilize Spyphone y descubri que una joven mujer amenazaba mi matrimonio, fui a solucionar el problemita y ahora somos un hogar feliz gracias a este sistema.
                    </blockquote>
                    <div class="box">
                        <div class="box_aside">
                            <img class="mb10" src="assets/images/faces1.jpg" alt="testimonial face1">
                        </div>
                        <div class="box_cnt">
                            <h3 class="pt40 mb10"><cite class="bold">Lorena Aquino</cite></h3>
                            <p>Paraguay - Ciudad del Este</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <blockquote>
                        Tenia perdidas en mi negocio, desparecia mercaderia y no sabia como, use el sistema Spyphone en los empleados del deposito y pude descubrir al ladron, me sorprendi mucho al saber que era una persona de mi confianza y mi cuñado, nunca mezclen negocios con familia, Gracias Spyphone.
                    </blockquote>
                    <div class="box">
                        <div class="box_aside">
                            <img class="mb10" src="assets/images/faces2.jpg" alt="testimonial face2">
                        </div>
                        <div class="box_cnt">
                            <h3 class="pt40 mb10"><cite class="bold">Mariano Duarte</cite></h3>
                            <p>Chile - Valparaiso</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <blockquote>
                       Mi hija de 10 años empezo a usar su primer celular y con mi marido teniamos miedo y gracias a este sistema siempre sabemos con quien chatea y nos dimos cuenta que un chico mayor le acosaba y pudimos solucionar gracias al sistema tenemos protegidos a nuestros hijos
                    </blockquote>
                    <div class="box">
                        <div class="box_aside">
                            <img class="mb10" src="assets/images/faces3.jpg" alt="testimonial face3">
                        </div>
                        <div class="box_cnt">
                            <h3 class="pt40 mb10"><cite class="bold">Miriam Barrios</cite></h3>
								<p>Argentina - Buenos Aires</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- End [Testimonials]-->

<!--Start [Our Team]-->

<section id="team">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb40">DISPOSITIVOS LISTOS   <span class="bolder">PARA USAR</span></h2>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 team-block">
                <img class="img img-responsive" src="assets/images/ateam1.png" alt="team1" />
                <div class="team-desc">
                    <div class="team-name">
                      <h4>Samsung Galaxy S7 Edge </h4>
                    </div>
                    <div class="team-position">
                      <p>Spyphone 1 Año </p>
                    </div>
                    <ul class="team-socials">
                        <li class="fb"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        <li class="twt"><a href="#"><i class="fa fa-money"></i></a></li>
                        <li class="skype"><a href="#"><i class="fa fa-paypal"></i></a></li>
                        <li class="l_in"><a href="#"><i class="fa fa-dolar"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team-block">
                <img class="img img-responsive" src="assets/images/ateam2.png" alt="team2" />
                <div class="team-desc">
                    <div class="team-name">
                      <h4>Samsung Galaxy J7 </h4>
                    </div>
                    <div class="team-position"><p>Spyphone 1 Año</p>
                    </div>
                    <ul class="team-socials">
                        <li class="fb"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        <li class="twt"><a href="#"><i class="fa fa-money"></i></a></li>
                        <li class="skype"><a href="#"><i class="fa fa-paypal"></i></a></li>
                        <li class="l_in"><a href="#"><i class="fa fa-dolar"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team-block">
                <img class="img img-responsive" src="assets/images/ateam3.png" alt="team3" />
                <div class="team-desc">
                    <div class="team-name">
                      <h4>Samsung Galaxy J5 </h4>
                    </div>
                    <div class="team-position"><p>Spyphone 1 Año</p>
                    </div>
                   <ul class="team-socials">
                        <li class="fb"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        <li class="twt"><a href="#"><i class="fa fa-money"></i></a></li>
                        <li class="skype"><a href="#"><i class="fa fa-paypal"></i></a></li>
                        <li class="l_in"><a href="#"><i class="fa fa-dolar"></i></a></li>
                  </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team-block">
                <img class="img img-responsive" src="assets/images/ateam4.png" alt="team4" />
                <div class="team-desc">
                    <div class="team-name">
                      <h4>Samsung Galaxy Note 5 </h4>
                    </div>
                    <div class="team-position"><p>Spyphone 1 Año</p>
                    </div>
                    <ul class="team-socials">
                        <li class="fb"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        <li class="twt"><a href="#"><i class="fa fa-money"></i></a></li>
                        <li class="skype"><a href="#"><i class="fa fa-paypal"></i></a></li>
                        <li class="l_in"><a href="#"><i class="fa fa-dolar"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<!--End [Our Team]-->

<!--Start [Packages]-->

<section id="packages">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb40">PRECIOS <span class="bolder">VIGENTES</span></h2>
            <div class="col-md-4 col-sm-12 mob-pkg">
                <div class="pricing-table">
                    <div class="pricing-table_header text-center">
                        <h3>spyphone </h3>
                        <div class="price">$500<span>/Anual</span></div>
                    </div>
                    <div class="pricing-table_cnt">
                        <ul class="marked-list pl0">
                            <li class="active">Suite Completa : Si </li>
                            <li class="active"> Soporte Tecnico Spyphone Personalizado 24/7 : No </li>
                            <li class="op6"><span class="op6">Cambiar de Dispositivo Ilimitadamente : No </li>
                            <li class="op6"><span class="op6">Soporte Root Android Personalizado : No </li>
                            <li class="op6"><span class="op6">Instalacion Remota (Teamviewer) : No </li>
                        </ul><button type="button" class="btn btn-primary common-btn colored-button float-button-light" data-angular-ripple><i class="fa fa-shopping-cart fa-2x"></i> <a href="#."> Comprar Ahora </a> </button>
</div>
 </div>
            </div>
            <div class="col-md-4 col-sm-12 mob-pkg">
                <div class="pricing-table">
                    <div class="pricing-table_header pricing_active text-center">
                        <h3>spyphone evolution </h3>
                        <div class="price">$600<span>/Anual</span></div>
                    </div>
                    <div class="pricing-table_cnt">
                        <ul class="marked-list pl0">
                            <li class="active">Suite Completa : Si </li>
                            <li class="active"> Soporte Tecnico Spyphone Personalizado 24/7 : Si </li>
                            <li class="active">Cambiar de Dispositivo Ilimitadamente : Si </li>
                            <li class="op6"><span class="op6">Soporte Root Android Personalizado : No </span></li>
                            <li class="op6"><span class="op6">Instalacion Remota (Teamviewer) : No </li>
                        </ul><button type="button" class="btn btn-primary common-btn colored-button float-button-light" data-angular-ripple><i class="fa fa-shopping-cart fa-2x"></i> <a href="#."> Comprar Ahora </a> </button>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mob-pkg">
                <div class="pricing-table">
                    <div class="pricing-table_header text-center">
                        <h3>Spyphone Ultimate</h3>
                        <div class="price">$800<span>/Anual</span></div>
                    </div>
                    <div class="pricing-table_cnt">
                        <ul class="marked-list pl0">
                            <li class="active">Suite Completa : Si </li>
                            <li class="active"> Soporte Tecnico Spyphone Personalizado 24/7 : Si </li>
                            <li class="active">Cambiar de Dispositivo Ilimitadamente : Si </li>
                            <li class="active">Soporte Root Android Personalizado : Si </li>
                            <li class="active">Instalacion Remota (Teamviewer) : Si </li>
                        </ul><button type="button" class="btn btn-primary common-btn colored-button float-button-light" data-angular-ripple><i class="fa fa-shopping-cart fa-2x"></i> <a href="#."> Comprar Ahora </a> </button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End [Packages]-->

<!--Start [Client]-->

<section id="client" style="background-color: #FFFFFF;">
    <div class="container">
        <div class="row">
              <h2 class="text-center mb40"> AVANZADAS FUNCIONES <span class="bolder"> DE ESPIONAJE </span></h2>
        </div>
    </div>
    <div class="container">
        <div data-wrap-owlcarousel class="owl-carousel"  data-options="{dots: false,autoplay:true,autoplayTimeout:2000,smartSpeed:1000,loop:true,margin:20, responsiveClass:true,nav:true,responsive:{
            0:{
                items:2,
                nav:true
            },
            400:{
                items:3,
                nav:true
            },
            700:{
                items:4,
                nav:true
            },
            1000:{
                items:6,
                nav:true,
                loop:true
            }
        }  }">
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-1.png" class="responsive-img" alt="Funcion Spyphone-1"></div>
            </div>
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-2.png" class="responsive-img" alt="Funcion Spyphone-2"></div>
            </div>
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-3.png" class="responsive-img" alt="Funcion Spyphone-3"></div>
            </div>
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-4.png" class="responsive-img" alt="Funcion Spyphone-4"></div>
            </div>
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-5.png" class="responsive-img" alt="Funcion Spyphone-5"></div>
            </div>
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-1.png" class="responsive-img" alt="Funcion Spyphone-6"></div>
            </div>
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-6.png" class="responsive-img" alt="Funcion Spyphone-7"></div>
            </div>
            <div class="item">
                <div class="logo"><img src="assets/images/client/client-3.png" class="responsive-img" alt="Funcion Spyphone-8"></div>
            </div>
        </div>

    </div>
</section>

<!--End [Client]-->

  <!-- Banner -->
  <div class="section sTop clearfix ">
    <section id="banner">
		<link rel="stylesheet" type="text/css" href="engine1/style.css" />
		<script type="text/javascript" src="engine1/jquery.js"></script>
		<div class="clearfix"></div><br/><br/><br/><br/><br/><br/><br/>
		 <div class="container">
        <div class="row">
              <h2 class="text-center mb40"> PAGOS ENVIOS <span class="bolder"> EMPRESAS COMPATIBLES </span></h2>
        </div>
    </div>
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/home_0_1.png" alt="Pagos Argentina" title="Pagos Argentina" id="wows1_0"/></li>
		<li><img src="data1/images/home_0_2.png" alt="Pagos Internacionales" title="Pagos Internacionales" id="wows1_1"/></li>
		<li><a href="http://wowslider.com"><img src="data1/images/home_0_3.png" alt="javascript slider" title="Envios Internacionales" id="wows1_2"/></a></li>
		<li><img src="data1/images/home_0_4.png" alt="Envios Nacionales" title="Envios Nacionales" id="wows1_3"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Pagos Argentina"><span><img src="data1/tooltips/home_0_1.png" alt="Pagos Argentina"/>1</span></a>
		<a href="#" title="Pagos Internacionales"><span><img src="data1/tooltips/home_0_2.png" alt="Pago Internacionales"/>2</span></a>
		<a href="#" title="Envios Internacionales"><span><img src="data1/tooltips/home_0_3.png" alt="Envios Internacionales"/>3</span></a>
		<a href="#" title="Envios Nacionales"><span><img src="data1/tooltips/home_0_4.png" alt="Envios Nacionales"/>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"> by WOWSlider.com v8.0</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->

		<div class="ws_shadow"></div>
	  </div>
		
		<script type="text/javascript" src="engine1/wowslider.js"></script>
		<script type="text/javascript" src="engine1/script.js"></script>
	  <br class="clear">
  </div>
  <!-- Banner End -->


<!--Start [Asked Quetions]-->

<section id="quetions">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center que-left">
                <i class="fa fa-question-circle fa-5x icon-color mb20" aria-hidden="true"></i>
                <h2>Respuestas a las Preguntas mas Frecuentes</h2>
                <button type="button" class="btn btn-primary common-btn colored-button float-button-light"><a href="#contact"> CONTACTENOS AHORA MISMO</a></button>
            </div>
            <div class="col-sm-6">
                <div data-uib-accordion  data-close-others="oneAtATime">
                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstOpen">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Que es Spyphone?
                      </div>
                        <p>Spyphone es un avanzado programa (app) que se instala en un Celular / Móvil, una tablet  y luego graba y almacena todas sus actividades en un servidor privado.
 </p>
                    </div>

                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Para qué usar Spyphone?
                        </div>
                        <p>se utiliza para monitorear a los niños, empleados, familiares, es muy util en casos de secuestro o 
urgencias familiares para la ubicacion inmediata por GPS o para crear una copia de seguridad y controlar su propio móvil a  distancia. </p>
                    </div>

                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose1">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Como Instalo Spyphone? </div>
                        <p>Debe tener acceso físico al dispositivo para instalar Spyphone. No se puede instalar remotamente.</p>
                    </div>



                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose2">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Cuantos dispositivos puedo monitorear con mi licencia Spyphone? </div>
                        <p>Una licencia de Spyphone se puede utilizar solo en un dispositivo a la vez. Pero puede desactivar, 
desinstalar y mover la aplicacion desde un dispositivo a otro tantas veces como quiera mientras dure el periodo de su Licencia.</p>
                    </div>


                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose3">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Es Spyphone visible? </div>
                        <p>spyphone es totalmente invisible y ni siquiera un tecnico matriculado podria identificarlo ante 

una minuciosa inspeccion</p>
                    </div>



                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose4">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Spyphone es legal? </div>
                        <p>Es legal instalar el Spyphone en su propio móvil y los de su propiedad. Si instala el Spyphone en un dispositivo de un tercero, tiene que obtener una permiso del propietario antes de la instalación.</p>
                    </div>



                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose5">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Puedo actualizar Spyphone a su ultima version sin necesidad de volver a instalar? </div>
                        <p>Si, se puede realizar actualizaciones remotamente.</p>
                    </div>


                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose6">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Cuanto tiempo los datos se almacenan en sus servidores? </div>
                        <p>Los datos almacenados en nuestros servidores se eliminan automáticamente y permanentemente después de 90 días. Le ofrecemos una herramienta para bajar sus datos y guardarlos.</p>
                    </div>



                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose7">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>
                            ¿Que otra cosa necesito para instalar Spyphone? </div>
                        <p>No necesita hacer nada especial para instalar nuestro software en un dispositivo Android. Sin embargo, para algunas funciones avanzadas se necesita rootear el dispositivo Android. Lea más sobre el root y como realizarlo aquí.</p>
                    </div>


                    <div data-uib-accordion-group class="panel-default" data-is-open="status.isFirstClose8">
                        <div data-uib-accordion-heading>
                            <i class="fa fa-caret-right"></i>No poseo Tarjeta ¿Puedo Pagar en Efectivo desde mi Pais?</div>
                        <p>Definitivamente si puede pagar en efectivo a traves de Western Union o Money Gram desde todo el mundo en su moneda local</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End [Asked Quetions]-->

<!--Start [Subscribe]-->

<section id="subscribe">
    <div class="container text-center">

        <div class="row">

            <h2 class="mb40">SUSCRIBETE A NUESTRO <span class="bolder">Newsletter</span></h2>

            <p class="col-md-10 col-md-offset-1 text-center title-para mb30">Ingresa tu Correo Electrónico para recibir ofertas especiales y las últimas novedades de Nuestros Productos</p>


            <div class="container">
                <div class="row" >
                    <form class="form-material set-submit-input">
                        <div class="form-group set-submit-box">
                            <input type="text" class="form-control" name="subscriber_email" id="subscriber_email" required="" data-ng-model="SubscribeEmail">
                            <span class="form-bar"></span>
                            <label class="float-label" for="subscriber_email">Ingrese su Email</label>
                        </div>
                        <button type="button" class="btn btn-primary btn-subscribe common-btn colored-button float-button-light" data-angular-ripple data-ng-click="subscriber_email()">Subscribirse <i class="fa fa-paper-plane ml5" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End [Subscribe]-->

<!-- Contact section starts -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="title">
		     <h2 align="center" class="mb40">CONECTA Via Messengers <span class="bolder">CLICK AQUI</span></h2>
		    <p class="text-center"><a href="tel:+5493764901393"><img src="assets/images/msns.jpg" width="522" height="463"></a>
	    	  <h2 align="center"><br>
	    	  </h2>
		    	
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p> Envienos su Consulta y nuestro Equipo le respondera a la Mayor Brevedad Posible </p>
				</div>
			</div>
		</div>
		<div class="row">
		  <div class="col-sm-8 col-sm-offset-2">
				<form action="enviar.php" method="POST">
              <div class="form animate bounceInUp">
                <fieldset id="contact_form">
                <div id="result">
				  <div style="color:#00cfef; font-size: 19px; margin:10px">				  </div>					
			    </div>
                  <p align="center">
                    <input name="nombre" type="text" class="animate bounceIn" id="nombre" size="50%" data-delay="500" placeholder="Nombre" required/>
 </p>
                  <p align="center">                   
                    <input name="correo" type="email" class="animate bounceIn" id="correo" size="50%" data-delay="500" placeholder="Email" required/>
                  </p>
                  <p align="center">
                    <input name="telefono" type="number" class="animate bounceIn" id="telefono" size="50%" data-delay="500" placeholder="Telefono" required style="
    width: 375px;
"/>
                  </p>
                  <p align="center">
                    <input name="pais" type="text" class="animate bounceIn form_i" id="pais" size="50%" data-delay="500" placeholder="Pais" required/>
                  </p>
                  <p align="center">
                    <input name="provincia" type="text" class="animate bounceIn form_d" id="provincia" size="50%" data-delay="500" placeholder="Provincia" required/>
                  </p>
                  <p align="center">
                    <textarea name="consulta" cols="50%" class="animate bounceIn" id="consulta" data-delay="500" placeholder="Mensaje" required></textarea>
                  </p>
                  <center><div class="captcha"><div style="margin:10px 0;" class="g-recaptcha" data-sitekey="6LfkACoTAAAAAAgd9lAvCnr_8QmtnGS03eqOQlR-"></div> </div>               
                  <label><span>&nbsp;</span>
                  <button class="btn btn-primary submit_contact common-btn colored-button float-button-light  pull-right" data-delay="1000" id="submit_btn">  
                 Enviar Mensaje  <i class="fa fa-paper-plane ml5" aria-hidden="true" ></i></button>

                  </label>                  
                </fieldset>
				
                </form>
			  <script src='https://www.google.com/recaptcha/api.js'></script>
			     <h3 align="center"> Ubicacion<br>
				 <p class="mb20">
			</h3>
			     <h4 align="center">
			       <p align="center"> Av. Irrazabal 4567 Encarnacion Paraguay<br>
			         Telefono Argentina +54 9 374901393<br>
			         Telefono Paraguay +595 985 663945<br>
		           E-mail :<img src="assets/images/emailsafe3.png" width="192" height="16">	                           
			       <p align="center"><br>
            </h4>
			     </p>
		  </div>
			       
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56721.18316304996!2d-55.89445990688801!3d-27.31087419626707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457955e5597cfeb%3A0x6ff7d247ff05c071!2sEncarnaci%C3%B3n%2C+Paraguay!5e0!3m2!1ses!2sar!4v1416358202823" width="100%" height="300" frameborder="0" style="border:0"></iframe>
			        <div align="center"></div>
	  </div>
  </div>
</section>
<!-- Contact section ends -->


<!--Start [Footer]-->

<footer>
    <section id="footer">
        <div class="container text-center">
            <div class="row">

                <h2>Legales <span class="bolder"></span></h2>
                <div class="col-md-12">

                    <p class="mb20 title-para">El Uso de Dispositivos de Vigilancia, Interceptación de conversaciones y/o su grabación, etc. sin el consentimiento de todas las partes implicadas es ilegal. El software de Spyphone® no se ha creado para ser utilizado para estos usos. <br>
                    Está aceptando que conoce las leyes aplicables al uso de este tipo de Equipamiento/ Tecnología/ Software en el país donde se vaya a usar y las consecuencias legales que impliquen su uso inapropiado.</p>
              </div>
<p class="footer-copyright mb0"><h2  Spyphonestore &copy; > <span id="Copyright-year"></span>Siganos en Las Redes Sociales </p>
                <div class="mb20">
</p><a href="https://www.facebook.com/Spyphonestore-Inc-208042155877353/" target="_blank" class="btn default_color available-btn colored-button float-button-light" data-angular-ripple><i class="fa fa-facebook fa-5x"></i></a> <a href="https://twitter.com/" target="_blank" class="btn default_color available-btn colored-button float-button-light"><i class="fa fa-twitter fa-5x"></i></a> <a href="https://plus.google.com/u/0/116955114630922129344" target="_blank" class="btn default_color available-btn colored-button float-button-light"><i class="fa fa-google-plus fa-5x"></i></a> <a href="https://www.instagram.com/" target="_blank" class="btn default_color available-btn colored-button float-button-light"><i class="fa fa-instagram fa-5x"></i></a> <a href="https://www.youtube.com/channel/UCF9Z0LtMb0Mtz_MrBhuS7LQ" target="_blank" class="btn default_color available-btn colored-button float-button-light"><i class="fa fa-youtube fa-5x"></i></a></div>
										  <p>&nbsp;</p>
										  <p class="footer-copyright mb0">Spyphonestore &copy; <span id="Copyright-year">2017</span>. Todos los Derechos Reservados </p>
            </div>
</div>
<!--End [Footer]-->
<!-- Move to up -->
<div data-back-top ><i class="fa fa-arrow-up fa x2"></i></div>
<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/chrome.png" alt="">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/firefox.png" alt="">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/opera.png" alt="">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/safari.png" alt="">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->

<!--Required JS -->
<script src="assets/js/jquery.2.2.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Twiiter JS -->
<script src="assets/js/tweetie.min.js"></script>

<!-- AngularJs Scripts Start -->

<!-- custom scrollbarfor sidebar-->
<script src="assets/angularJS/jquery.mCustomScrollbar.min.js" ></script>

<!--AngularJs-->
<script src="assets/angularJS/angular.min.js"></script>

<!-- angular-scroll.js -->
<script src="assets/angularJS/angular-scroll.min.js" ></script>

<!-- button effect-->
<script src="assets/angularJS/angular-ripple.min.js" ></script>

<!-- angular animation -->
<script src="assets/angularJS/angular-animate.min.js"></script>

<!-- angular-scroll-animate.js -->
<script src="assets/angularJS/angular-scroll-animate.min.js"></script>

<!-- Module -->
<script src="assets/modules/VideoModule.js" ></script>

<!-- Controller -->
<script src="assets/controllers/controller.js" ></script>

<!-- bottom to top Scrolling -->
<script src="assets/angularJS/angular-backtop.min.js" ></script>

<!-- ui-bootstrap-tpls-2.0.2.js -->
<script src="assets/angularJS/ui-bootstrap-tpls-2.0.2.min.js" ></script>

<!--angular-parallax.js-->
<script src="assets/angularJS/angular-parallax.min.js" ></script>

<!--ngCovervid.js-->
<script type="text/javascript" src="assets/angularJS/ngCovervid.min.js"></script>

<!-- AngularJs Scripts End -->


<!--OWL Carousel JS -->
<script src="assets/js/owl.carousel.min.js"></script>

<!--Video Magnification JS -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>

<!-- Angular-map -->
<script src="assets/angularJS/angular-google-maps.min.js" ></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="assets/angularJS/lodash.min.js" ></script>
</body>
</html>
